
/deep/ .date-picker-root { margin-top: -15px; }
/deep/ .date-picker-root.form-horizontal { margin-top: 0px; }

/deep/ .date-picker-root .input-group-addon { padding: 3px 9px; }
/deep/ .date-picker-root .popover-content {
   text-decoration: none !important;
   padding-top: 0px !important;
   margin-top: 0px !important;
   margin-bottom: -10px;
   user-select: none;
}
/deep/ .date-picker-root .popover-content table {
   margin-bottom: 0px;
}
/deep/ .date-picker-root .popover-content table tr :nth-child(6) { border-left: 1px solid #e6e4eb; }
/deep/ .date-picker-root .popover-content table tr td { position: relative; cursor: pointer; }
/deep/ .date-picker-root .popover-content table tr td span {
   position: absolute;
   width: 32px;
   height: 32px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
   border-radius: 100%;
}

/deep/ .date-picker-root .popover-content table tr td:hover span { background-color: #f3f2f5; }

/deep/ .date-picker-root .popover-content table tr td.today { font-weight: 600; }

/deep/ .date-picker-root .popover-content table tr td.month-current.selected { color: white; font-weight: 600; }
/deep/ .date-picker-root .popover-content table tr td.month-current.selected span { background-color: #00d775; }

/deep/ .date-picker-root .popover-content table tr td.month-next,
/deep/ .date-picker-root .popover-content table tr td.month-previous { color: #b2aebd; }
/deep/ .date-picker-root .popover-content table tr td.date-range-before,
/deep/ .date-picker-root .popover-content table tr td.date-range-after { color: #b2aebd; cursor: not-allowed; }
